@model IEnumerable<IntenseCare.Models.tblAdminIquiry>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Your Inquiry </h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th> Name </th>
            <th> Contact No</th>
            <th> Subject</th>
            <th> Reply </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @item.FirtsName @item.LastName </td>
                <td> @item.ContactNo</td>
                <td> @item.Subject</td>
                <td>
                    <a href="@Url.Action("Detail","AdminInquery", new { id = item.AdminInquiryID})" class="btn btn-success btn-sm">
                        Reply
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
