@model IntenseCare.Models.tblPatientDetail
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card shadow md-4">
    <div class="card-header py-3">
        <h6 class="m-0 fornt fa-weight-bold text-dark">
            <a href="@Url.Action("Index","Patientdetails")" class="btn btn-dark">
                <i class="fa fa-backward fa-1x"></i>
            </a>
        </h6>
        <h3 class="text-dark">Patient Details</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card shadow mb-10" style="width:96%; margin:20px">
            <div class="card-body">
                <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">
                    <a href="@Url.Action("Detail","Patient", new { id = Model.PatientId})">
                        Patient : <b>@ViewBag.PatientName</b>
                    </a>
                </h5><br />
                     <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">
                         AdmitId : <b>@Model.AdmitDetailId</b>
                         <br />
                         <br />
                          Symptoms : <b>@Model.Symptoms</b>
                     </h5><br />

            </div>
        </div>
    </div>
</div>

