@model IEnumerable <IntenseCare.Models.Datamodel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-dark">List of Patient Details</h6>
    </div>
    <div class="card-body">

        <div class="col-md-12">


            <table class=" table table-hover" border="1" id="example">
                <thead class="thead-dark">
                    <tr>
                        <th>PatientId</th>
                        <th>Symptoms</th>
                        <th>IsActive</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td><a href="@Url.Action("Detail","Patient",new { id = item.Patient.PatientId})">@item.Patient.FirstName </a></td>
                            <td>@item.patientDetail.Symptoms</td>
                            <td id="ActiveContent">
                                @if (item.patientDetail.IsActive == true)
                                {
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" checked class="custom-control-input" id="Active_@item.patientDetail.PatientDetailId" onchange="return activate(@item.patientDetail.PatientDetailId)">
                                        <label class="custom-control-label" for="Active_@item.patientDetail.PatientDetailId"></label>
                                    </div>
                                }
                                else
                                {
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="Active_@item.patientDetail.PatientDetailId" onchange="return activate(@item.patientDetail.PatientDetailId)">
                                        <label class="custom-control-label" for="Active_@item.patientDetail.PatientDetailId"></label>
                                    </div>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


        @* <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>*@

        <script>
            function activate(id) {
                    $.ajax(
                        {
                            type: "POST",
                            url: "@Url.Action("Active", "Patientdetails")" + "/" + id,
                            success: function (response) {
                                if (response == true) {
                                    alert('Account Activated');
                                }
                                else {
                                    alert('Account Deactivated');
                                }
                            },
                            failure: function (response) {
                                    alert('Fail -' + response.responseText);
                                },
                            error: function (response) {
                                    alert('Error -' + response.responseText);
                                }
                            }
                    );
                }
        </script>






