
@model IEnumerable<IntenseCare.Models.tblPatient>

@{
    ViewBag.Title = "list";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section scripts{

    <link href="~/DataTables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="~/DataTables/jQuery-3.3.1/jquery-3.3.1.js"></script>
    <script src="~/DataTables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/DataTables/DataTables-1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" class="init">
        $(document).ready(function(){
            $("#example").DataTable();
        });
    </script>

}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-dark">List of Patient Details</h6>
    </div>
    <div class="card-body">

        <div class="col-md-12">


            <table class=" table table-hover" border="1" id="example">
                <thead class="thead-dark">
                    <tr>
                        @*<th>ImageUrl</th>*@
                        <th>FirstName</th>
                        <th>Email</th>
                        <th>ContactNo</th>
                        <th>IsActive</th>
                        <th>CreatedOn</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td><a href="@Url.Action("Detail","Patient",new { id = item.PatientId })">@item.FirstName </a>
                            <td>@item.EmailId</td>
                            <td>@item.ContactNo</td>
                            <td id="ActiveContent">
                                @if (item.IsActive == true)
                                {
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" checked class="custom-control-input" id="Active_@item.PatientId" onchange="return activate(@item.PatientId)">
                                        <label class="custom-control-label" for="Active_@item.PatientId"></label>
                                    </div>
                                }
                                else
                                {
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="Active_@item.PatientId" onchange="return activate(@item.PatientId)">
                                        <label class="custom-control-label" for="Active_@item.PatientId"></label>
                                    </div>
                                }
                            </td>
                            <td>@item.CreatedOn</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


        @* <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>*@

        <script>
            function activate(id) {
                $.ajax(
                    {
                        type: "POST",
                        url: "@Url.Action("Active", "Patient")" + "/" + id,
                        success: function (response) {
                            if (response == true) {
                                alert('Account Activated');
                            }
                            else {
                                alert('Account Deactivated');
                            }
                        },
                        failure: function (response) {
                            alert('Fail -' + response.responseText);
                        },
                        error: function (response) {
                            alert('Error -' + response.responseText);
                        }
                    }
                    );
                }
        </script>





