@model IntenseCare.Models.tblDoctorSlot 
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Update Doctor Absents Record</div>
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-lg-12">
                            <div class="form-label-group">
                                <input type="text" id="DoctorId" name="DoctorId" class="form-control" value="@Model.DoctorId" required="required" autofocus="autofocus">
                                @*<label for="Name">Enter name</label>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-lg-12">
                            <div class="form-label-group">
                                <input type="text" id="StartTime" name="StartTime" class="form-control" value="@Model.StartTime" required="required" autofocus="autofocus">
                                @*<label for="Name">Enter name</label>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-lg-12">
                            <div class="form-label-group">
                                <input type="text" id="EndTime" name="EndTime" class="form-control" value="@Model.EndTime" required="required" autofocus="autofocus">
                                @*<label for="Name">Enter name</label>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-lg-12">
                            <div class="form-label-group">
                                <input type="text" id="DayWeek" name="DayWeek" class="form-control" value="@Model.DayWeek" required="required" autofocus="autofocus">
                                @*<label for="Name">Enter name</label>*@
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-lg-12">
                            <div class="form-label-group">
                                <input type="text" id="OpdShedule" name="OpdShedule" class="form-control" value="@Model.OpdShedule">
                                @*<label for="Name">Enter name</label>*@
                            </div>
                        </div>

                    </div>
                </div>

                <input type="submit" name="btnsubmit" value="Update" class="btn btn-success" />
            </form>
        </div>
    </div>
</div>




