@model IEnumerable<IntenseCare.Models.Datamodel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<p>
    @Html.ActionLink("Add Doctor Slot", "Insert", new { })
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-dark">List of DoctorSlot Details</h6>
    </div>
    <div class="card-body">

        <div class="col-md-12">
            <table class=" table table-hover" border="1" id="example">
                <thead class="thead-dark">
                    <tr>

                        <th>DoctorId</th>
                        <th>DayWeek</th>
                        <th>StartTime</th>
                        <th>EndTime</th>
                        <th>Action</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td><a href="@Url.Action("Details","DoctorSlot",new { id = item.Slot.DoctorSlotId})">@item.Doctor.FirstName </a></td>
                            @* <td>@item.Doctor.FirstName</td>*@
                            <td>@item.Slot.DayWeek</td>
                            <td>@item.Slot.StartTime</td>
                            <td>@item.Slot.EndTime</td>
                            <td>
                                <a href="@Url.Action("Edit",new { Id= item.Slot.DoctorSlotId})" class=" btn btn-sm btn-circle btn btn-primary">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="@Url.Action("Delete",new { Id= item.Slot.DoctorSlotId})" class="btn btn-sm btn-circle btn btn-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


