@model IntenseCare.Models.tblNurse
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@*<div class="container-fluid ">*@
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Update Nurse's Record</div>
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-label-group">
                                <input type="text" id="FirstName" name="FirstName" class="form-control" value="@Model.FirstName" required="required" autofocus="autofocus">                               
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-label-group">
                                <input type="text" id="LastName" name="LastName" class="form-control" value="@Model.LastName" required="required" autofocus="autofocus">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-label-group">
                                <input type="email" id="Email" name="Email" class="form-control" value="@Model.EmailId" required="required" autofocus="autofocus">
                              
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-label-group">
                                <input type="text" id="ContactNo" name="ContactNo" class="form-control" value="@Model.ContactNo" required="required" autofocus="autofocus">
                               
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-label-group">
                                <input type="text" id="Address" name="Address" class="form-control" value="@Model.Address" required="required" autofocus="autofocus">
                               
                            </div>
                        </div>
                    </div>
                </div>
              
        <input type="submit" name="btnsubmit" value="Update" class="btn btn-success" />
        <div class="text-center">
            <a class="d-block small mt-3" href="@Url.Action("Index","Nurse")">Back To List</a>
        </div>
        </form>
    </div>
    </div>
@*</div>*@



