@model IEnumerable<IntenseCare.Models.Datamodel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section scripts{

    <link href="~/DataTables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="~/DataTables/jQuery-3.3.1/jquery-3.3.1.js"></script>
    <script src="~/DataTables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/DataTables/DataTables-1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $("#example").DataTable();
        });
    </script>

}
<p>
    @Html.ActionLink("Add Doctor Absent", "Insert", new { })
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-dark">List of Doctor Absent Details</h6>
    </div>
    <div class="card-body">
        <div class="col-md-12">

            <table class=" table table-hover table-bordered" border="0" id="example">
                <thead class="thead-dark">
                    <tr>

                        <th>DoctorId</th>
                        <th>FromDate</th>
                        <th>ToDate</th>
                        <th>FromTime</th>
                        <th>CreatedOn</th>
                        <th>Action</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><a href="@Url.Action("Details","DoctorAbsent",new { id = item.Absence.DoctorAbsenceId})">@item.Doctor.FirstName </a></td>
                            @*<td>@item.Doctor.FirstName</td>*@
                            <td>@item.Absence.FromDate</td>
                            <td>@item.Absence.ToDate</td>
                            <td>@item.Absence.FromTime</td>
                            <td>@item.Absence.CreatedOn</td>
                            <td>
                                <a href="@Url.Action("Edit",new { Id= item.Absence.DoctorAbsenceId})" class=" btn btn-sm btn-circle btn btn-primary">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="@Url.Action("Delete",new { Id= item.Absence.DoctorAbsenceId})" class="btn btn-sm btn-circle btn btn-danger">
                                    <i class="fa fa-trash" onclick="return confirm('Are you sure to delete')"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@* <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>*@


