@model IntenseCare.Models.tblReview 
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div>

    <div class="card shadow md-4">
        <div class="card-header py-3">
            <h6 class="m-0 fornt fa-weight-bold text-dark">
                <a href="@Url.Action("Index","Review")" class="btn btn-dark">
                    <i class="fa fa-backward fa-1x"></i>
                </a>
            </h6>

        </div>
        <div class="card-body">
            <div>
                <div class="row">
                    <div class="col-md-4" style="text-align:center">
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <h3 class="text-dark"> @ViewBag.PatientName's profile</h3>
                        </div>


                        Review Id : <b>@Model.ReviewId</b><br />
                        Doctor Id : <b>@ViewBag.DoctorName</b><br />
                        Subject :<b>@Model.Subject</b><br />
                        Description :<b>@Model.Description</b><br />
                        Rating :<b>@Model.Rating</b><br />
                        ReviewedOn : <b>@Model.ReviewedOn  </b><br />


                    </div>
                </div>
            </div>
        </div>
    </div>









