@model IEnumerable <IntenseCare.Models.Datamodel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-dark">List of Reviews </h6>
    </div>
    <div class="card-body">

        <div class="col-md-12">


            <table class=" table table-hover" border="1" id="example">
                <thead class="thead-dark">
                    <tr>
                        <th>PatientId</th>

                        <th>Rating</th>
                        <th>ReviewedOn</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><a href="@Url.Action("Details","Review",new { id = item.Review.ReviewId})">@item.Patient.FirstName </a></td>

                            @*<td>@item.Review.Description</td>*@
                            <td>@item.Review.Rating</td>
                            <td>@item.Review.ReviewedOn</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


