@model IEnumerable <IntenseCare.Models.Datamodel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<p>
    @Html.ActionLink("Add", "add", new { })
</p>
<h2>List of Reviews </h2>
<div class="col-md-12">


    <table class=" table table-hover" id="example">
        <thead class="thead-dark">
            <tr>
                <th>PatientId</th>
            
                <th>Rating</th>
                <th>ReviewedOn</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a href="@Url.Action("Details","Review",new { id = item.Review.ReviewId})">@item.Patient.FirstName </a></td>
 
                    @*<td>@item.Review.Description</td>*@
                    <td>@item.Review.Rating</td>
                    <td>@item.Review.ReviewedOn</td>
                </tr>
            }
        </tbody>
    </table>
</div>


