@model IEnumerable <IntenseCare.Models.Datamodel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<p>
    @Html.ActionLink("Add", "add", new { })
</p>
<h2>List of Doctor Inquery </h2>
<div class="col-md-12">


    <table class=" table table-hover" id="example">
        <thead class="thead-dark">
            <tr>
                <th>PatientId</th>

                <th>EmailId</th>

                <th>Subject</th>
                <th>Inquery</th>

                <th>IsReply</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td><a href="@Url.Action("Details","DoctorInquery",new { id = item.DoctorInquiry.DoctorInquiryID })">@item.Patient.FirstName </a></td>
                <td>@item.DoctorInquiry.EmailID</td>
                <td>@item.DoctorInquiry.Subject</td>
                <td>@item.DoctorInquiry.Inquiry</td>
                <td id="ActiveContent">
                    @if (item.DoctorInquiry.IsReply  == true)
                    {
                        <div class="custom-control custom-switch">
                            <input type="checkbox" checked class="custom-control-input" id="Active_@item.DoctorInquiry.DoctorInquiryID" onchange="return activate(@item.DoctorInquiry.DoctorInquiryID)">
                            <label class="custom-control-label" for="Active_@item.DoctorInquiry.DoctorInquiryID"></label>
                        </div>
                    }
                    else
                    {
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="Active_@item.DoctorInquiry.DoctorInquiryID" onchange="return activate(@item.DoctorInquiry.DoctorInquiryID)">
                            <label class="custom-control-label" for="Active_@item.DoctorInquiry.DoctorInquiryID"></label>
                        </div>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>




