@model IEnumerable <IntenseCare.Models.Datamodel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-dark">List of Doctor Inquery</h6>
    </div>
    <div class="card-body">

        <div class="col-md-12">
            <table class=" table table-hover" border="1" id="example">
                <thead class="thead-dark">
                    <tr>
                        <th>PatientId</th>

                        <th>EmailId</th>

                        <th>Subject</th>
                        <th>Inquery</th>

                        <th>IsReply</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><a href="@Url.Action("Details","DoctorInquery",new { id = item.DoctorInquiry.DoctorInquiryID })">@item.Patient.FirstName </a></td>
                            <td>@item.DoctorInquiry.EmailID</td>
                            <td>@item.DoctorInquiry.Subject</td>
                            <td>@item.DoctorInquiry.Inquiry</td>
                            <td id="ActiveContent">
                                @if (item.DoctorInquiry.IsReply == true)
                                {
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" checked class="custom-control-input" id="Reply_@item.DoctorInquiry.DoctorInquiryID" onchange="return activate(@item.DoctorInquiry.DoctorInquiryID)">
                                        <label class="custom-control-label" for="Reply_@item.DoctorInquiry.DoctorInquiryID"></label>
                                    </div>
                                }
                                else
                                {
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="Reply_@item.DoctorInquiry.DoctorInquiryID" onchange="return activate(@item.DoctorInquiry.DoctorInquiryID)">
                                        <label class="custom-control-label" for="Reply_@item.DoctorInquiry.DoctorInquiryID"></label>
                                    </div>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
        <script>
            function activate(id) {
                    $.ajax(
                        {
                            type: "POST",
                            url: "@Url.Action("Active", "Admit")" + "/" + id,
                            success: function (response) {
                                if (response == true) {
                                    alert('Account Activated');
                                }
                                else {
                                    alert('Account Deactivated');
                                }
                            },
                            failure: function (response) {
                                    alert('Fail -' + response.responseText);
                                },
                            error: function (response) {
                                    alert('Error -' + response.responseText);
                                }
                            }
                    );
                }
        </script>




