@model IntenseCare.Models.TblInHouseTreatement

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="card shadow md-4">
    <div class="card-header py-3">
        <h6 class="m-0 fornt fa-weight-bold text-dark">
            <a href="@Url.Action("Index","InHouseTreatement")" class="btn btn-dark">
                <i class="fa fa-backward fa-1x"></i>
            </a>
        </h6>
        <h3 class="text-dark">In house treatement Details</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="card shadow mb-4" style="width:400px; margin:20px; height:320px;">
            <div class="card-body">

                <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">AdmitId : <b>@Model.AdmitDetailId</b></h5><br />
                <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">
                    <a href="@Url.Action("Detail","Doctor", new { id = Model.DoctorId})">
                        Doctor : <b>@ViewBag.DoctorName</b>
                    </a>
                </h5><br />
                     <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">
                         <a href="@Url.Action("Detail","Patient", new { id = Model.PatientId})">
                             Patient : <b>@ViewBag.PatientName</b>
                         </a>
                         <br />
                         <br />
                      Nurse : <b>@ViewBag.NurseName</b>
                     </h5><br />
                <div class="row">
                    <div class="col-4">
                        <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">
                            Given :
                        </h5>
                    </div>
                    <div class="col-3">
                        @if (Model.IsGiven == true)
                        {
                        <div class="alert-success" style="padding:5px; margin:5px; border:1px solid #808080">
                            Yes
                        </div>
                        }
                        else
                        {
                        <div class="alert-success" style="padding:5px; margin:5px; border:1px solid #808080">
                            No
                        </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card shadow mb-4" style="width:600px; margin:20px">
            <div class="card-body">
                <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">TreatementTime : <b>@Model.TreatementTime</b></h5><br />
                <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">TreatedOn : <b>@Model.TreatedOn</b></h5><br />
                <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">Remarks : <b>@Model.Remarks</b></h5><br />
                <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">Treatement : <b>@Model.Treatement</b></h5><br />
                <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif"> Madicine Name : <b>@Model.MedicineName</b></h5><br />
                @*<h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">ModifiedOn : <b>@Model.ModifiedOn</b></h5><br />*@
            </div>
        </div>
        <br>
    </div>
</div>







