@model IntenseCare.Models.TblInHouseTreatement 

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div>

    <div class="card shadow md-4">
        <div class="card-header py-3">
            <h6 class="m-0 fornt fa-weight-bold text-dark">
                <a href="@Url.Action("Index","InHouseTreatement")" class="btn btn-dark">
                    <i class="fa fa-backward fa-1x"></i>
                </a>
            </h6>

        </div>
        <div class="card-body">
            <div>
                <div class="row">
                    <div class="col-md-4" style="text-align:center">
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <h3 class="text-dark"> @ViewBag.PatientName's profile</h3>
                        </div>
                        InHouseTreatment Id     :<b>@Model.InHouseTreatementId</b><br />
                        Doctor Id   :<b>@ViewBag.DoctorName</b><br />
                        @*  Patient Id :<b>@Model.Patient.PatientId</b><br />*@
                        Nurse Id    : <b>@ViewBag.NurseName</b><br />
                        Admit Id    :<b>@Model.AdmitDetailId</b>
                        Madicine Name : <b>@Model.MedicineName  </b><br />

                        Remark      :<b>@Model.Remarks</b><br />
                        Treatment   :<b>@Model.Treatement</b><br />
                        Treated On  : <b>@Model.TreatedOn</b><br />
                        Treatment time  :<b>@Model.TreatementTime</b>
                        <div class="row">
                            <h5 class="fa fa-1x">
                                IsGiven &nbsp; &nbsp; :@if (Model.IsGiven == true)
                                {
                                    <div class="custom-control custom-switch" style=" float : right; margin-left:10px">
                                        <input type="checkbox" checked class="custom-control-input" id="Given_@Model.InHouseTreatementId" onchange="return activate(@Model.InHouseTreatementId)">
                                        <label class="custom-control-label" for="Given_@Model.InHouseTreatementId"></label>
                                    </div>
                                }
                                else
                                {
                                    <div class="custom-control custom-switch" style=" float : right; margin-left:10px">
                                        <input type="checkbox" class="custom-control-input" id="Given_@Model.InHouseTreatementId" onchange="return activate(@Model.InHouseTreatementId)">
                                        <label class="custom-control-label" for="Given_@Model.InHouseTreatementId"></label>
                                    </div>
                                }
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







