@model IEnumerable<IntenseCare.Models.Datamodel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-dark">List of In House Treatement Patient Details</h6>
    </div>
    <div class="card-body">
        <div class="col-md-12">
            <table class=" table table-hover" border="1" id="example">
                <thead class="thead-dark">
                    <tr>
                        <th>PatientId</th>
                        <th>MedicineName</th>
                        <th>Treatement</th>
                        <th>Remarks</th>
                        <th>TreatementTime</th>
                   </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><a href="@Url.Action("Details","InHouseTreatement",new { id = item.Patient.PatientId })">@item.Patient.FirstName </a></td>
                            @* <td>@item.Patient.FirstName</td>*@
                            <td>@item.HTreat.MedicineName</td>
                            <td>@item.HTreat.Treatement</td>
                            <td>@item.HTreat.Remarks</td>
                            <td>@item.HTreat.TreatementTime</td>


                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


        @* <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>*@







