@model IntenseCare.Models.tblAppoinment 
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <div class="card shadow md-4">
        <div class="card-header py-3">
            <h6 class="m-0 fornt fa-weight-bold text-dark">
                <a href="@Url.Action("Index","Appointment")" class="btn btn-dark">
                    <i class="fa fa-backward fa-1x"></i>
                </a>
            </h6>
            <h3 class="text text-dark"><b>Appointment Detail</b></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow mb-4" style="width:500px; margin:20px; height:320px">
                <div class="card-body">
                    <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">DoctorSlot  : <b>@ViewBag.DocSlot</b></h5><br />
                    <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">
                        <a href="@Url.Action("Detail","Patient", new { id = Model.PatientID})">
                            Patient : <b>@ViewBag.PatientName</b>
                        </a>
                        <br />
                        <a href="@Url.Action("Detail","Doctor", new { id = Model.DoctorID})">
                            Doctor : <b>@ViewBag.DoctorName</b>
                        </a>
                    </h5><br />
                    <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">
                        BookOn : <b>@Model.BookedOn.ToShortDateString()</b>
                        @* &nbsp;&nbsp; Max Time : <b>@Model.MaxTime.ToShortDateString()</b>*@
                    </h5><br />
                    <div class="row">
                        <div class="col-4">
                            <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">
                                New :
                            </h5>
                        </div>
                        <div class="col-4">
                            @if (Model.IsNew == true)
                            {
                                <div class="alert-success" style="padding:5px; margin:5px; border:1px solid #808080 ">
                                    Yes
                                </div>
                            }
                            else
                            {
                                <div class="alert-success" style="padding:5px; margin:5px; border:1px solid #808080 ">
                                    No
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <div class="col-md-6">
                    <div class="card shadow mb-4" style="width:500px; margin:20px">
                        <div class="card-body">
                            <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">Reason : <b>@Model.Reason</b></h5><br />
                            <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">Description : <b>@Model.Description</b></h5><br />
                            <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif"> Appointment Status : <b>@Model.AppointmentStatus</b></h5><br />
                            <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">Appointment_date : <b>@Model.Appointment_date.ToShortDateString()</b></h5><br />
                            <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">Appointment_time : <b>@Model.Appointment_time</b></h5><br />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   


