@model IntenseCare.Models.tblAdmitDetail
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Update Admit Patient's Record</div>
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-label-group">
                                <input type="text" id="DoctorId" name="DoctorId" class="form-control" value="@Model.DoctorId" required="required" autofocus="autofocus">
                                @*<label for="Name">Enter name</label>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-label-group">
                                <input type="text" id="PatientId" name="PatientId" class="form-control" value="@Model.PatientId" required="required" autofocus="autofocus">
                                @*<label for="Name">Enter name</label>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-label-group">
                                <input type="text" id="NurseId" name="NurseId" class="NurseId" value="@Model.NurseId" required="required" autofocus="autofocus">
                                @*<label for="Name">Enter name</label>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-label-group">
                                <input type="text" id="IsDischarge" name="IsDischarge" class="form-control" value="@Model.IsDischarge" required="required" autofocus="autofocus">
                                @*<label for="Name">Enter name</label>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-label-group">
                                <input type="text" id="WardType" name="WardType" class="form-control" value="@Model.WardType" required="required" autofocus="autofocus">
                                @*<label for="Name">Enter name</label>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-label-group">
                                <input type="text" id="WardNo" name="WardNo" class="form-control" value="@Model.WardNo" required="required" autofocus="autofocus">
                                @*<label for="Name">Enter name</label>*@
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" name="btnsubmit" value="Update" class="btn btn-success" />
            </form>
        </div>
    </div>
</div>






