@model IEnumerable <IntenseCare.Models.Datamodel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<p>
    @Html.ActionLink("Add Admit Details", "registration", new { })
</p>
<h2>List of Admit Details</h2>
<div class="col-md-12">

    <table class=" table table-hover" id="example">
        <thead class="thead-dark">
            <tr>

               
                <th>PatientId</th>                
                <th>WardType</th>
                <th>WardNo</th>
                <th>IsDischarge</th>
                <th>Action</th>
                


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <td><a href="@Url.Action("Details","Admit",new { id = item.Admit.AdmitDetailId  })">@item.Patient.FirstName </a></td>
                @*<td>@item.Doctor.FirstName</td>
        <td>@item.Patient.FirstName</td>
        <td>@item.Nurse.FirstName</td>*@
                <td>@item.Admit.WardType</td>
                <td>@item.Admit.WardNo</td>
                <td id="ActiveContent">
                    @if (item.Admit.IsDischarge == true)
                    {
                        <div class="custom-control custom-switch">
                            <input type="checkbox" checked class="custom-control-input" id="Active_@item.Admit.AdmitDetailId" onchange="return activate(@item.Admit.AdmitDetailId)">
                            <label class="custom-control-label" for="Active_@item.Admit.AdmitDetailId"></label>
                        </div>
                    }
                    else
                    {
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="Active_@item.Admit.AdmitDetailId" onchange="return activate(@item.Admit.AdmitDetailId)">
                            <label class="custom-control-label" for="Active_@item.Admit.AdmitDetailId"></label>
                        </div>
                    }
                </td>
                <td>
                    <a href="@Url.Action("Edit",new { Id= item.Admit.AdmitDetailId})" class=" btn btn-sm btn-circle btn btn-primary">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a href="@Url.Action("Delete",new { Id= item.Admit.AdmitDetailId})" class="btn btn-sm btn-circle btn btn-danger">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
                @*<td>
            <a href="@Url.Action("Edit","Admin",new { Id= item.Admit.AdmitDetailId})" class="btn btn-sm btn-circle btn-primary">
                <i class="fa fa-edit" />
            </a>
            <a href="@Url.Action("Delete",new { Id= item.Admit.AdmitDetailId})" class="btn btn-sm btn-circle btn-danger">
                <i class="fa fa-trash" />
            </a>
        </td>*@
                @* <td>@item.Admit.IsDischarge</td>*@
                @*<td>@item.Admit.CreatedOn</td>
        <td>@item.Admit.ModifiedBy</td>
        <td>@item.Admit.ModifiedOn</td>*@
            </tr>
            }
        </tbody>
    </table>
</div>

@* <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>*@





