@model IEnumerable <IntenseCare.Models.Datamodel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Add", "add", new { })
</p>
<h2>List of Payment Details </h2>
<div class="col-md-12">


    <table class=" table table-hover" id="example">
        <thead class="thead-dark">
            <tr>
                <th>PatientId</th>
                <th>PaymentAmt</th>
                <th>PaidOn</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <td><a href="@Url.Action("Details","Payment",new { id = item.payment.PaymentId})">@item.Patient.FirstName </a></td>
                <td>@item.payment.PaymentAmt</td>
                <td>@item.payment.PaidOn</td>
            </tr>
            }
        </tbody>
    </table>
</div>







