
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section scripts{
}
<script>
    function Validate() {
        var firstname = document.frmCreate.FirstName;
        var lastname = document.frmCreate.LasttName;
        var password = document.frmCreate.Password;
        var cpassword = document.frmCreate.CPassword;
        var email = document.frmCreate.Email;
        var contact_no = document.frmCreate.ContactNo;
        var Address = document.frmCreate.Address;
        var Degree = document.frmCreate.Degree;
        var Special = document.frmCreate.Specialization;
        var YearOfExp = document.frmCreate.YearOfExp;

        var name_pat = /^[A-Za-z]+$/;
        if (firstname.value != "" && firstname.value.match(name_pat)) {
        }
        else {
            alert("FirstName is not Proper");
            firstname.focus();
            return false;
        }
        var name_pat = /^[A-Za-z]+$/;
        if (lastname.value != "" && lastname.value.match(name_pat)) {
        }
        else {
            alert("LastName is not Proper");
            lastname.focus();
            return false;
        }
        var pass_pat = /^[A-Za-z0-9]+$/;
        if (password != "" && password.value.match(pass_pat)) {
        }
        else {
            alert("Wrong Password or Password does not match");
            password.focus();
            return false;
        }
        if (password.value == cpassword.value) { }
        else {
            alert("Password does not match");
            cpassword.focus();
            return false;
        }

        var email_pat = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        if (email.value != "" && email.value.match(email_pat)) {
        }
        else {
            alert("Email is not Proper");
            email.focus();
            return false;

        }
        var contact_no_pat = /^[0-9]+$/;
        if (contact_no.value != "" && contact_no.value.match(contact_no_pat)) {
        }
        else {
            alert("contact number is not Proper");
            contact_no.focus();
            return false;
        }
        var add_pat = /^[A-Za-z0-9]+$/;
        if (Address.value != "" && Address.value.match(add_pat)) {
        }
        else {
            alert("Address is not Proper");
            Address.focus();
            return false;
        }
        var Deg_pat = /^[A-Za-z]+$/;
        if (Degree.value != "" && Degree.value.match(Deg_pat)) {
        }
        else {
            alert("Degree is not Proper");
            Degree.focus();
            return false;
        }
        var Spe_pat = /^[A-Za-z]+$/;
        if (Special.value != "" && Special.value.match(Spe_pat)) {
        }
        else {
            alert("Specialization is not Proper");
            Special.focus();
            return false;
        }
        var YOE_pat = /^[0-9]+$/;
        if (YearOfExp.value != "" && YearOfExp.value.match(YOE_pat)) {
        }
        else {
            alert("Year Of Exp is not Proper");
            YearOfExp.focus();
            return false;
        }
        return true;
    }
</script>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-dark">Add New Doctor</h6>
    </div>
    <div class="card-body">
        <form class="user" method="post" name="frmCreate" enctype="multipart/form-data">
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="First Name">
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Last Name">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control" id="Password" name="Password" placeholder="Enter Password">
                </div>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="Cpassword" name="Cpassword" placeholder="Enter Cpassword ">
                </div>

            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="email" class="form-control" id="Email" name="Email" placeholder="Email Address">
                </div>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="ContactNo" name="ContactNo" placeholder="Contact Number">
                </div>

            </div>
            <div class="form-group row">
                <div class="col-sm-4 mb-3 mb-sm-0">
                    @Html.DropDownList("ddCountry", ViewBag.Country as SelectList, "Select Country", new { @class = "form-control" })
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0" id="divstate">
                    <select id="ddState" name="ddState" class="form-control"></select>
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0" id="divcity">
                    <select id="ddCity" name="ddCity" class="form-control"></select>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="radio" id="Gen" name="Gen" value="Female" required>Female
                    <input type="radio" id="Gen" name="Gen" value="Male" required>Male
                </div>
                <div class="col-sm-6">
                    <input type="Date" class="form-control" id="DOB" name="DOB" placeholder="Enter Date of birth" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control" id="Address" name="Address" placeholder="Enter Address">
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="Degree" name="Degree" placeholder="Enter Degree">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control" id="YearOfExp" name="YearOfExp" placeholder="Enter YearOfExp">
                </div>
                
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control" id="Specialization" name="Specialization" placeholder="Enter Specialization">
                </div>
                <div class="col-sm-6">
                    <div class="form-label-group">
                        <input type="file" accept="~/Areas/image/*" onchange=" return loadFile(event)" class="form-control-file" placeholder="Choose your Profile Image" id="txtfile" name="txtfile" />
                    </div>
                </div>
                <div class="col-4">
                    <img src="#" name="txtProfPic" id="txtProfPic" class="img img-thumbnail" style="width:100px; height:100px" hidden />
                </div>
            </div>
            <input type="submit" value="Add Doctor" class="btn btn-success" onclick="return Validate()" align="Center" />
        </form>
        <script>
            var loadFile = function (event) {
                var output = document.getElementById('txtProfPic');
                output.src = URL.createObjectURL(event.target.files[0]);
                output.hidden = false;
            };
        </script>
        <div class="text-center">
            <a class="d-block small mt-3" href="@Url.Action("Index","Doctor")">Back To List</a>
            <a class="d-block small mt-3" href="@Url.Action("Index","Admin")">Login Page</a>
            <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#ddCountry').change(function () {
           // alert("Aavi Gayu");
            $.ajax({
                type: "post",
                url: "@Url.Action("GetState","Doctor")",
                data: { cid: $('#ddCountry').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $('#ddState').append('<option value=' + data[i].Value + '>' + data[i].Text + '</option>');
                    }
                    $('#ddState').focus();
                }
            });
        });

        $('#ddState').change(function () {
           //alert("Aavi Gayu");
            $.ajax({
                type: "post",
                url: "@Url.Action("getCity", "Doctor")",
                data: { sid: $('#ddState').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $('#ddCity').append('<option value=' + data[i].Value + '>' + data[i].Text + '</option>');
                    }
                    $('#ddCity').focus();
                }
            });
        });

    });

</script>







