@model IntenseCare.Models.tblDoctor

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="card shadow md-4">
    <div class="card-header py-3">
        <h6 class="m-0 fornt fa-weight-bold text-dark">
            <a href="@Url.Action("Index","Doctor")" class="btn btn-dark">
                <i class="fa fa-backward fa-1x"></i>
            </a>
        </h6>
        <h3 class="text text-dark"><b>Doctor Detail</b></h3>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card shadow mb-4" style="text-align:center; margin:10%;">
            @if (Model.ProfileImageUrl == null)
            {
                <img src="~/Areas/image/user2.png" class="img-thumbnail" />
            }
            else
            {
                <img src="~/Areas/image/@Html.DisplayFor(model=>model.ProfileImageUrl)" class="img-thumbnail" id="DoctorImage" name="DoctorImage"/>
            }
            <br />
            <p>
                Member since @Model.ApprovedOn.Value.Year<br />

            </p>
        </div>
    </div>
    <br />

    <div class="col-md-8">
        <div class="card shadow mb-6" style="width:100%; height:310px;padding:20px;margin:20px">
            <div class="row">
                <h3 class="text-dark"> @Html.DisplayFor(model => model.FirstName)'s profile</h3>
            </div>
            <div class="row">
                <div class="col-1">
                    <i class="fa fa-1x fa-mail-bulk"></i>
                </div>
                <div class="col-4">
                    <a href="mailto: @Html.DisplayFor(model => model.Email)">
                        <h6> @Html.DisplayFor(model => model.Email)</h6>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <i class="fa fa-1x fa-phone"></i>
                </div>
                <div class="col-4">
                    <a href="tel: @Html.DisplayFor(model => model.ContactNo)">
                        <h6> @Html.DisplayFor(model => model.ContactNo)</h6>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">Gender : <b>@Model.Gender</b>
                    <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">Address : <b>@Model.Address</b>
                    <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">
                        City : <b>@ViewBag.CityName</b>
                        <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">
                            Approved : <b>@ViewBag.AdminName </b>
                        </h5><br />
                        </h5><br />
                        </h5><br />
                    </h5><br />
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6">
            @*<div class="card-header py-3">*@
            <div class="card shadow mb-4" style="width:500px;">
                <div class="card-body">
                    @* <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">Doctor Id : <b>@Model.DoctorId</b></h5><br />*@

                    <div class="row">
                        <div class="col-4">
                            <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">
                                Doctor Status :
                            </h5>
                        </div>
                        <div class="col-3">
                            @if (Model.IsActive == true)
                            {
                                <div class="alert-success" style="padding:5px; margin:5px; border:1px solid #808080 ">
                                    Active
                                </div>
                            }
                            else
                            {
                                <div class="alert-success" style="padding:5px; margin:5px; border:1px solid #808080">
                                    Deactive
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        @* <div class="card-header py-3">*@
        <div class="card shadow mb-4" style="width:600px;">
            <div class="card-body">
                <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">Degree : <b>@Model.Degree</b></h5><br />
                <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">Specialization : <b>@Model.Specialization</b></h5><br />
                <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">Year of Experience : <b>@Model.YearOfExperience</b></h5><br />
            </div>
        </div>
    </div>
</div>
</div>
 